body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cabecalho"
            "conteudo"
            "periferico"
            "rodape";
    grid-gap: 5px; ;
}

header {
   
    grid-area: cabecalho;
    background: no-repeat center/cover url(/imgs/outubrorosa-fundo.jpg);
    
}



/*.logo {
    display: block;
    margin: 0 auto;
} */

.content {
    grid-area: conteudo;
}

.content > ol > li {
    margin: 1em 0;   
}

.content > img {
    float: right;
}
.menu-principal {
    display: block;
}

.menu-principal > ul {
    list-style: none;
   border: none;
    padding: 5px;
}

.menu-principal > ul > li {
    display: block;
    padding: 10px;
    background: #c3577d;
    
    text-align: center;
    
}
.menu-principal a {
    color: #fff;

    margin: auto 20px auto 40px;

    text-decoration: none;

    font-weight: bold;
    
}


.menu-principal > ul > li:hover {
    background: #e86190
  
}
.box-lateral a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

h2{
    color: rgb(56, 56, 56);
}
aside {
    grid-area: periferico;
}

aside > .box-lateral {
    background: #e67cdd7a;
    box-shadow: 2x 2x gray;
    padding-bottom: 20px;
}

aside > .box-lateral > h2 {
    text-align: center;
    padding: 5px;
}

aside > .box-lateral > ul > li {
    margin: 1em 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.box-noticias p, .box-noticias h1 {
    margin-top: 2px;
}

.box-noticias h1 {
    margin-bottom: 0;
}

@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-rows: 150px 1fr 120px;
        grid-template-areas: "cabecalho cabecalho"
                                "conteudo periferico"
                                "rodape rodape";
        grid-gap: 5px; 
    }
.logo {
    width: 220px;
    float:left;
}
.menu-principal {
    float:right;
}

.menu-principal > ul > li {
    display: inline-block;
}

}
