.banner {
    width: 100%; height: 300px;
}
nav li {
    display: inline;
    width: calc(33%-16px);
    margin: 8px;
    float:right;
}
h1{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px;
} 
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.wraper{
    display: -moz-inline-grid;
    grid-gap: 10px 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 

    "header"
    "nav"
    "body"
    "footer";
}
.itens {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.hospital{
    width: 50%; ;
}
.UnidadesINCA{
    font-size: 25px;




}
aside {
    grid-area: periferico;
}

aside > .box-lateral {
    background: lightgray;
    box-shadow: 2x 2x gray;
    padding-bottom: 20px;
}

aside > .box-lateral > h2 {
    text-align: center;
    padding: 5px;
}

aside > .box-lateral > ul > li {
    margin: 1em 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.box-noticias p, .box-noticias h1 {
    margin-top: 2px;
}

.box-noticias h1 {
    margin-bottom: 0;
}
